@import 'variables';

.intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.intro.low {
  transition: height 1s linear;
  top: unset;
  height: 150px;
}

.description {
  padding: 1em;
  max-width: 400px;
}

.title {
  font-family: $titleFont;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  border-left: 0.5px solid black;
  max-width: 500px;
}

.menu-item {
  width: 40%;
  padding: 1em;
}

.menu-item img {
  width: 100%;
  cursor: pointer;
}

.info {
  font-size: 0.7em;
}

span {
  cursor: pointer;
}

span.urban {
  color: $urbanColor;
}

span.night {
  color: $nightColor;
}

span.touristic {
  color: $touristicColor;
}

span.old{
  color: $oldColor;
}

.description span:hover {
  font-weight: bold;
}

img.urban {
  border: 4px solid $urbanColorTransparent;
}

img.urban:hover {
  border: 4px solid $urbanColor;
}

img.touristic {
  border: 4px solid $touristicColorTransparent;
}

img.touristic:hover {
  border: 4px solid $touristicColor;
}

img.night {
  border: 4px solid $nightColorTransparent;
}

img.night:hover {
  border: 4px solid $nightColor;
}

img.old {
  border: 4px solid $oldColorTransparent
}

img.old:hover {
  border: 4px solid $oldColor;
}

@media screen and (orientation: portrait) {
  .menu-item {
    width: 80%;
  }
}