$titleFont: 'Permanent Marker', cursive;
$urbanColor: rgb(244, 200, 66);
$urbanColorTransparent: rgba(244, 200, 66, 0.3);
$touristicColor: rgb(121, 69, 211);
$touristicColorTransparent: rgba(121, 69, 211, 0.3);
$nightColor: rgb(105, 221, 229);
$nightColorTransparent: rgba(105, 221, 229, 0.3);
$oldColor: rgb(196, 108, 37);
$oldColorTransparent: rgba(196, 108, 37, 0.3);